body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.inicio {
    background-color: #e8f4ff;
    padding: 80px 20px;
    text-align: center;
}

.inicio h1 {
    color: #0d6efd;
    margin-bottom: 20px;
}

.inicio p {
    font-size: 18px;
}


.seccion {
    padding-top: 50px;
    padding-bottom: 50px;
}

.seccion h2 {
    text-align: center;
    color: #0d6efd;
    margin-bottom: 35px;
}

.fondo {
    background-color: #f2f7fb;
}

.tarjeta {
    background-color: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
    height: 100%;
}

.tarjeta h3 {
    color: #0d6efd;
}

.reseña {
    background-color: #f8f9fa;
    padding: 25px;
    border-left: 5px solid #0d6efd;
    margin-bottom: 20px;
}

.reseña footer {
    margin-top: 10px;
    font-weight: bold;
}


#mensaje {
    margin-top: 15px;
    color: #198754;
    font-weight: bold;
}


.footer {
    background-color: #0d6efd;
    color: white;
    padding: 30px 0;
}

.footer p {
    margin: 5px;
}
    

@media (max-width: 768px) {

    .inicio {
        padding: 50px 15px;
    }

    .inicio h1 {
        font-size: 30px;
    }

    .seccion {
        padding-top: 35px;
        padding-bottom: 35px;
    }

}